body{
	font-family: 'Montserrat', sans-serif;
	background-color: floralwhite;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.foot{
    margin: 20px 10px 8px 10px;
    font-family: "Arial", Hevletica, sans-serif;
    font-size: 10px; 
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    margin-top: 2.5em;
    background-color: floralwhite;
    opacity: 0.9;
}

.content{
    line-height: 27px;
    text-indent: 1em;
}

iframe{
    width: 85vw;
    border: 7px solid #ddd;
    border-radius: 5px;
}

/* grid for main content*/
.info{
    display: grid;
    grid-template-columns: auto 40vw;
    grid-template-areas:
        "map map"
        "about links";
    grid-gap: 2em;
    display:-ms-grid;
    -ms-grid-columns: auto 2em 40vw;
    -ms-grid-rows: auto 2em auto;
}

/* second layout */
.info2{
    display: grid;
    display: -ms-grid;
    grid-template-columns: auto 600px;
    -ms-grid-columns: auto 10px 600px;
    -ms-grid-rows: auto 10px auto 10px auto;
    grid-template-areas: 
        "toplane topimg"
        "midlane midimg"
        "botlane botimg";
    grid-gap: 10px;
    margin-left: 2em;
}

#toplane{
    grid-area: toplane;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

#midlane{
    grid-area: midlane;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

#botlane{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: botlane;
}

#topimg{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: topimg;
}

#midimg{
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: midimg;
}

#botimg{
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: botimg;
}

.info2 figure{
    margin：0 auto;
}

.info2 img{
    width: 500px;
}

/* In text pictures */
.inText{
    width: 100%;
    height: auto;
}

figcaption{
    text-align: center;
    font-size: 13px;
}

.about{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: about;
    margin-left: 2em;
    padding-right: 1em;
    height: 600px;
    overflow-y: scroll;
}

.about ul{
    list-style-type: square;
    margin-left: 20px;
}

.about ul li{
    margin-bottom: 5px;
}

.map{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: map;
    margin-left: 2em;
}

/*menu*/
nav{
    width: 100%;
    top: 0;
    position: fixed;
    opacity: 0.9;
    z-index: 1;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a:active{
    background-color: #897cb5;
}

/*checkbox */
nav input, nav #icon{
    display: none;
}

/* menu button */
/*label*/
nav .menu-button{
    cursor: pointer;
}
nav #icon{
    color: white;
    background-color: darkslateblue;
}

/* active item color */
.active{
    background-color: #897cb5;
}

nav li a, nav .menu-button{
    display: block;
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 1em;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    background-color: darkslateblue;
}

/*level 1 width*/
nav ul ul li{
    width: 24.75vw;
}

/*level 2 submenu item width */
nav ul ul ul li{
    width: 24vw;
}

/*disappear*/
nav li ul, li ul li ul{
    display: none;
    background-color: #8DA4DB;
}

/*home page big slides*/
.slideshow{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slides{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* getting the background pictures for slides */
#Manhattan1{
    background-image: url("../img/Manhattan1.jpg");
}

#Brooklyn{
    background-image: url("../img/Brooklyn.jpg");
}

#Brooklyn2{
    background-image: url("../img/Brooklyn2.jpg");
    background-attachment: scroll;
}

#Brooklyn3{
    background-image: url("../img/Brooklyn3.jpg");
}

#Manhattan2{
    background-image: url("../img/Manhattan2.jpg");
}

#Manhattan3{
    background-image: url("../img/Manhattan3.jpg");
}

#Manhattan4{
    background-image: url(../img/Manhattan4.jpg);
}

#Manhattan5{
    background-image: url(../img/Manhattan5.jpg);
}

#Queens{
    background-image: url("../img/Queens.jpg");
}

#Queens2{
    background-image: url(../img/Queens2.jpg);
}

#Queens3{
    background-image: url(../img/Queens3.jpg);
}

#Bronx{
    background-image: url(../img/Bronx.jpg);
}

#Bronx2{
    background-image: url(../img/Bronx2.jpg);
}

#Bronx3{
    background-image: url(../img/Bronx3.jpg);
}

#Statenisland{
    background-image: url(../img/Statenisland3.jpg);
}

#Statenisland2{
    background-image: url(../img/Statenisland2.jpg);
}

#Statue{
    background-image: url(../img/statue.jpg);
}

#Statue2{
    background-image: url(../img/statue2.jpg);
}

#Broadway{
    background-image: url(../img/Broadway3.jpg);
}

#Broadway2{
    background-image: url(../img/Broadway4.jpg);
}

#Chinatown{
    background-image: url(../img/chinatown2.jpg);
}

#Chinatown2{
    background-image: url(../img/chinatown3.JPG);
}

#Koreatown{
    background-image: url(../img/koreatown2.jpg);
}

#Koreatown1{
    background-image: url(../img/koreatown3.jpg);
}
/* all the pics above */

/* small slides for manhattan, more pics */
#empire{
    background-image: url(../img/Empire-State-Building.jpg);
}

#timessq{
    background-image: url(../img/timesSquare.jpg);
}

#centralpk{
    background-image: url(../img/centralPark.jpg);
}

#wallst{
    background-image: url(../img/wallst.jpg);
}

#WTC{
    background-image: url(../img/wtc.jpg);
}
/* done */

/* small slide sizes */
.smallslides{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.smallslideshow{
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
}

/* shrinked slides on other pages*/
.slideshow2{
    width: 100%;
    height: 50vh;
    overflow: visible;
}

/* centered text on the home page */
.center{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: snow;
    text-shadow: 3px 3px 5px #000000;
}

/*Subpage titles*/
.titleleft{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40%;
    left: 7%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    font-weight: 700;
    color: snow; 
    color: snow;
    text-shadow: 3px 3px 5px #000000;
}

/* slide show buttons */
.button-left, .button-right{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: white;
    padding: 20px;
    margin-top: -22px;
    font-size: 18px;
    font-weight: bold;
    transition: .8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.button-right{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.button-left:hover, .button-right:hover{
    background-color: black;
    opacity: 0.6;
}

/* fading animation */
.ani{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -ms-animation: fadein 3s; /* Internet Explorer */
            animation: fadein 3s;
}

@keyframes fadein{
    from { opacity: 0.7; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein{
    from { opacity: 0.7; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein{
    from { opacity: 0.7; }
    to   { opacity: 1; }
}


/*bread crumb*/
ul.breadcrumb{
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li{
    display: inline;
    font-size: 1em;
}

ul.breadcrumb li+li:before {
    padding: 10px;
    content: ">";
}

ul.breadcrumb li a{
    text-decoration: none;
}

ul.breadcrumb li a:hover{
    color: #2F32B7;
    text-decoration: underline;
}

/* image link and effects */
#brooklyn, #manhattan, #queens, #bronx, #statenisland{
    transition-duration: 3s;
    position: relative;
}

/* img link dimensions */
.smallimg{
    height: 150px;
    width: 220px;
    margin-bottom: 10px;
}

.imglink{
    grid-area: links;
    display: grid;
}

/* center pic inside imglink */
.imglink img{
    border-radius: 5px;
    border: 7px solid #ddd;
    box-shadow: 0 0 3px 3px #eee9e9; 
}

.imgText{
    font-family: 'PlayBall', cursive;
    color: snow;
    position: absolute;
}

#brooklyn{
    grid-area: brooklyn;
}
#manhattan{
    grid-area: manhattan;
}
#queens{
    grid-area: queens;
}
#bronx{
    grid-area: bronx;
}
#statenisland{
    grid-area: island;
    margin-left: 25%;
    margin-right: 25%;
}

#bkText{
    font-size: 50px;
    font-weight: 600;
}
#maText{
    font-size: 45px;
    font-weight: 600;
}
#qText{
    font-size: 53px;
    font-weight: 600;
    bottom: 20px;
}
#bxText{
    font-size: 55px;
    font-weight: 600;
    bottom: 20px;
}
#siText{
    font-size: 53px;
    font-weight: 600;
    word-wrap: break-word;
    left: 52%;
}

.imglink2{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3em;
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-areas: 
        "chinatown koreatown";
}

.imglink2 img{
    border-radius: 5px;
    border: 7px solid #ddd;
}

#chinatown{
    grid-area: chinatown;
    position: relative;
}
#ctownText{
    position: absolute;
    font-size: 50px;
    top: 45px;
    left: 12px;
}

#koreatown{
    grid-area: koreatown;
    position: relative;
}
#ktownText{
    position: absolute;
    font-size: 50px;
    top: 45px;
    left: 12px;
}

#brooklyn a:hover, #manhattan a:hover, #queens a:hover, #bronx a:hover, #statenisland a:hover{
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    animation: fadein 3s;
    cursor: pointer;
}

/* comments form styling */
.comment{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
#comments{
    text-align: left;
    padding-left: 10%;
}

form{
    line-height: 10px;
}

textarea{
    resize: none;
    margin-top: 15px;
}

.submitbutton{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
    
}

#warning1, #warning2{
    color: red;
}

/*grading page*/
.grading{
    margin-left: 2em;
    margin-right: 2em;
}
@media screen and (min-width: 1200px){
    /* grid for image links */
    .imglink{
        -ms-grid-row: 3;
        -ms-grid-column: 3;
        grid-template-columns: auto auto; 
        grid-template-areas: 
            "brooklyn manhattan"
            "queens bronx"
            "island island";
        display: -ms-grid;
        -ms-grid-columns: auto auto;
    }
    
    #brooklyn{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    
    #manhattan{
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    
    #queens{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    
    #bronx{
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    
    #statenisland{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    
    /*grid for info 2 */
    
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #bkText{
        top: 48px;
        left: 33px;
    }
    #maText{
        top: 48px;
        left: 24px;
    }
    #qText{
        top: 45px;
        left: 39px;
    }
    #bxText{
        top: 45px;
        left: 53px;
    }
    #siText{
        top: 15px;
        left: 55px;
    }

}

/* Chrome, Safari, AND NOW ALSO the Edge Browser and Firefox */
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .imglink img{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .imgText{
        z-index: 5;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}

/* media query for different window size */
@media screen and (max-width: 1200px){
    /*layout */
    .main{
        margin-left: 7%;
    }
    
    .info{
        -ms-grid-columns: 60vw 2em 33vw;
        grid-template-columns: 60vw 33vw;
    }
    .about{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        height: 980px;
        overflow-y: scroll;
    }
    .imglink{
        -ms-grid-row: 3;
        -ms-grid-column: 3;     
    }
    .map{
        margin-left: 0;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    
    .iframe{
        width: 60vw;
    }
    
    /* img link style */
    .imglink{
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "brooklyn"
            "manhattan"
            "queens"
            "bronx"
            "island";
        margin-right: 8em;
    }
    #brooklyn{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #manhattan{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    #queens{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #bronx{
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    #statenisland{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        margin-left: 1px;
        margin-right: 0;
    }
    
    /* layout 2*/
    .info2{
        grid-template-columns: auto 550px;
    }
    
    .info2 img{
        width: 470px;
    }
    
    .info2 figure{
        margin-top: 50px;
    }
    
}

@media screen and (max-width: 1000px){
    .center{
        font-size: 50px;
        top: 51%;
    }
    /*layout*/
    .info{
        grid-template-columns: 55vw 35vw;
    }
    
    .imglink{
        margin-left: 16%;
    }
    
    .info2{
        grid-template-columns: auto;
        -ms-grid-columns: auto;
        -ms-grid-rows: auto 10px auto 10px auto 10px auto 10px auto;
        grid-template-areas: 
            "toplane"
            "topimg"
            "midlane"
            "midimg"
            "botlane";
        margin-right: 2em;
    }
    
    #toplane{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    #midlane{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    #botlane{
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }

    #topimg{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    #midimg{
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    
    #botimg{
        display:none;
    }
    
    .info2 img{
        width: 70vw;
    }
    
    .info2 figure{
        margin-left: 3em;
    }
    
    .content{
        line-height: 25px;
    }
    
    figcaption{
        font-size: 10px;
    }
    
    .about{
        height: 900px;
        overflow-y: scroll;
    }
    
    textarea{
        width: 600px;
    }
}

/* desktop media query >775px*/
@media screen and (min-width: 775px){
    /* menu ul appearing */
    nav li:hover > ul{
        display: block;
    }
    
    /* hover effects for menu items */
    nav li li a:hover, nav li a:hover, nav li .menu-button:hover{
        border: 5px solid #f0f2ed;
        border-width: 0 4px;
    }
    
    nav li li a:hover{
        padding-right: 5px;
    }
    nav ul ul ul{
        position: absolute;
        left: 100%;
        top: 0;
    }
}

/* mobile/tablet media query */
@media screen and (max-width: 775px){
    /*Hamburger Menu*/
    nav #icon{
        display: block;
        position: relative;
    }
    
    /* menu toggle icon animation */
    #menu_button{
        margin-left: 5px;
    }
    
    .buttonRight{
        animation: right 1s;
        animation-fill-mode: forwards;
    }
    
    .buttonLeft{
        animation: left 1s;
        animation-fill-mode: forwards;
    }
    
    /*animation*/
    @keyframes right{
        from{
            margin-left: 5px;
        }
        to{
            margin-left: 90vw;
        }
    }
    @keyframes left{
        from{
            margin-left: 90vw;
        }
        to{
            margin-left: 5px;
        }
    }
    
    
    nav #main-menu{
        display: none;
        top: 2em;
        
    }
    
    /* li styling */
    nav > ul li{
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    nav ul ul li{
        width: 100vw;
    }
    
    nav ul ul ul li{
        width: 100vw;
    }
    
    nav li li a, nav li li .menu-button{
        padding-left: 3rem;
    }
    
    nav li li li a{
        padding-left: 5rem;
    }
    
    /* Toggle main menu */
    nav #main:checked + #main-menu{
        display: block;
    }
    
    nav li > input:checked ~ ul{
        display: block;
    }
    
    nav li > input:checked ~ ul input:checked ~ ul{
        display: block;
    }
    
    
    /* title font */
    .center{
        font-size: 2em;
        top: 52%;
    }
    
    .titleleft{
        font-size: 3.5em;
    }
    
    .map{
        display: none;
    }
    
    /* layout */
    .info{
        grid-template-columns: 80vw;
        grid-template-areas: 
            "about";
        -ms-grid-columns: 80vw;
        -ms-grid-rows: auto;
    }
    
    .info2{
        overflow-y: scroll;
        height: 600px;
        overflow-x: auto;
    }
    
    #toplane, #midlane, #botlane{
        padding-right: 1em;
    }
    
    .imglink{
        display: none;
    }
    
    .imglink2{
        display: flex;
        flex-wrap: wrap;
    }
    
    #chinatown, #koreatown{
        float:right;
        margin-left: 15%;
        margin-top: 13px;
    }
    
    #statenisland{
        margin-left: 28%;
        margin-right: 25%;
    }
    
    .about{
        padding-right: 1em;
        margin-left: 3em;
        height: 500px;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    
    .textImg, .textImg2, figcaption{
        display: none;
    }
    
    textarea{
        width: 500px;
    }
    
    /* smaller image slides for tablet */
    #Manhattan1{
        background-image: url("../img/Manhattan1_tablet.jpg");
    }

    #Brooklyn{
        background-image: url("../img/Brooklyn_tablet.jpg");
    }

    #Brooklyn2{
        background-image: url("../img/Brooklyn2_tablet.jpg");
        background-attachment: scroll;
    }

    #Brooklyn3{
        background-image: url("../img/Brooklyn3_tablet.jpg");
    }

    #Manhattan2{
        background-image: url("../img/Manhattan2_tablet.jpg");
    }

    #Manhattan3{
        background-image: url("../img/Manhattan3_tablet.jpg");
    }

    #Manhattan4{
        background-image: url(../img/Manhattan4_tablet.jpg);
    }

    #Manhattan5{
        background-image: url(../img/Manhattan5_tablet.jpg);
    }

    #Queens{
        background-image: url("../img/Queens_tablet.jpg");
    }

    #Queens2{
        background-image: url(../img/Queens2_tablet.jpg);
    }

    #Queens3{
        background-image: url(../img/Queens3_tablet.jpg);
    }

    #Bronx{
        background-image: url(../img/Bronx_tablet.jpg);
    }

    #Bronx2{
        background-image: url(../img/Bronx2_tablet.jpg);
    }

    #Bronx3{
        background-image: url(../img/Bronx3_tablet.jpg);
    }

    #Statenisland{
        background-image: url(../img/Statenisland3_tablet.jpg);
    }

    #Statenisland2{
        background-image: url(../img/Statenisland2_tablet.jpg);
    }

    #Statue{
        background-image: url(../img/statue_tablet.jpg);
    }

    #Statue2{
        background-image: url(../img/statue2_tablet.jpg);
    }

    #Chinatown{
        background-image: url(../img/chinatown2_tablet.jpg);
    }

    #Chinatown2{
        background-image: url(../img/chinatown3_tablet.jpg);
    }

    #Koreatown{
        background-image: url(../img/koreatown2_tablet.jpg);
    }

    #Koreatown1{
        background-image: url(../img/koreatown3_tablet.jpg);
    }
    
    #Broadway{
        background-image: url(../img/Broadway3_tablet.jpg);
    }

    #Broadway2{
        background-image: url(../img/Broadway4_tablet.jpg);
    }
}

@media screen and (max-width: 700px){
    .center{
        font-size: 29px;
    }
    
    textarea{
        width: 70%;
    }
}

/* media query for manhattan & neighborhoods*/
@media screen and (max-width: 450px){
    .smallslideshow{
        display: none;
    }
    
    .about ul li{
        font-size: 12px;
    }
    
    #Broadway{
        background-image: url(../img/Broadway3_mobile.jpg);
    }

    #Broadway2{
        background-image: url(../img/Broadway4_mobile.jpg);
    }
}

@media screen and (max-width: 420px){
    .center{
        font-size: 24px;
    }
    
    .about{
        margin-left: 2em;
    }
    
    textarea{
        width: 65%;
    }
}